<div class="content">
    <div class="inner-content">

        <div class="inner-container">

            <div class="app-title">
                <h1>Aplikacja do Zarządzania Obecnością w Pracy</h1>
            </div>

            <div class="welcome-message">
                <p>
                    Witamy w naszej aplikacji, stworzonej z myślą o dziale administracyjnym, która umożliwia efektywne
                    zarządzanie zajętością biurek w siedmiopiętrowym biurowcu. Nasza aplikacja pozwala pracownikom na
                    szybką
                    i wygodną rejestrację zajętości biurek poprzez skanowanie kodów QR lub wpisywanie czteroznakowych
                    kodów
                    przypisanych do poszczególnych miejsc.
                </p>
            </div>

            <div class="features">
                <h2 class="features-title">Kluczowe Funkcje:</h2>
                <ul class="features-list">
                    <li><strong>Szybka Rejestracja:</strong> Po przybyciu do biura, pracownik może zarejestrować zajęcie
                        biurka, skanując kod QR przy użyciu telefonu lub wpisując kod.</li>
                    <li><strong>Zarządzanie Obecnością:</strong> Aplikacja rejestruje wszystkie istotne informacje,
                        takie
                        jak numer biurka, piętro, data zajęcia oraz adres e-mail pracownika.</li>
                    <li><strong>Brak Mechanizmu Logowania:</strong> Użytkownicy mogą łatwo zarejestrować się, podając
                        tylko
                        swój adres e-mail.</li>
                    <li><strong>Przegląd Obecności:</strong> Aplikacja oferuje widok tabeli, w której można zobaczyć
                        wszystkie zarejestrowane obecności w danym dniu, w tym numery biurek, piętra, e-maile
                        pracowników
                        oraz daty zgłoszenia.</li>
                </ul>
            </div>

            <div class="conclusion-message">
                <p>
                    Zapewniamy prostotę i wygodę, dzięki czemu rejestracja obecności staje się szybsza i bardziej
                    efektywna.
                    Dołącz do nas i usprawnij proces zarządzania obecnością w swoim biurze!
                </p>
            </div>

        </div>

    </div>

</div>