@use './../../styles/global-styles.scss';
@use '../../styles/variables.scss';

.app-title, .welcome-message, .features, .conclusion-message {
    text-align: center; 
    margin: 20px 0;
}

.features-title {
    font-size: 1.5em;
    color: #000000;
    margin-top: 30px;
}

.features-list {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
}

.features-list li {
    margin: 10px 0;
}
